h1, h2 { font-family: Helvetica Neue, Helvetica, sans-serif; margin: 0; }
h1 { border-bottom: 2px solid #eee; }
.wrapping {
    border-top: 2px solid #fff;
    background: #eee;
    font-family: sans-serif;
}
.page { 
    width: 600px;
    margin: 2em auto; 
    border: 5px solid #ccc;
    padding: 0.8em; 
    background: white; 
}
.error { color: #FF0000; padding: 0.5em; }

form {
    float: right;
}
table.tablesorter {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url("img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr.security {
	background-color: #FBDFB3;
}
table.tablesorter tbody tr.confidential {
	background-color: #E0E0FF;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter thead tr th.id {
	width: 47px;
}
table.tablesorter thead tr th.sev {
	width: 57px;
}
table.tablesorter thead tr th.pri {
	width: 52px;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

