#container {
    background: whitesmoke;
    margin: 20px;
    padding: 20px;
}

.header {
    padding-left: 30px;
}

h4 {
    padding-left: 30px;
}

.box h3{
    text-align:center;
    position:relative;
    top:5px;
}

.no-bullets ul{
    list-style: none;
    padding-left: 0px;
}

.no-bullets li{
    margin: 5px;
    padding: 5px;
    background-color: powderblue;
}

.box {
    width:100%;
    height:30px;
    background:#fff;
    margin:2px auto;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
    -webkit-box-shadow: 0 6px 6px -6px #777;
       -moz-box-shadow: 0 6px 6px -6px #777;
            box-shadow: 0 6px 6px -6px #777;
}

tag {
   padding: 5px;
   cursor: pointer;
}

small {
    font-size: 65%;
}
.components {
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.user {
    float: right;
    padding-top: 10px;
    margin-right: 50px;
}
.error { color: #FF0000; padding: 0.5em; }

#ul_tabs li{
    font-size: 80%;
}
.ui-menu { width: 150px; }
.modified {
    font-style: italic;
    font-size: 85%;
}

/* Sidebars */
.disabled {
   color: #DDDDDD;
}
.schedule {
    /*text-align: center;*/
}
.calendar {
    width: 14em;
    height: 18em;
    background-image: url("img/calendar.png");
    background-size:15em 18em;
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
}
.calendar p {
    padding-top: 2em;
    color: #FFFFFF;
}
.calendar h1 {
    font-size: 10em;
    margin: 0 0 -0.3em 0;
}

/* Checkerbox view */
.card {
    width: 18em;
    height: 15em;
    margin: 1em;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    /*border: 0.05em solid #ccc;*/
    text-align: center;
    padding: 0px;
    float: left;
    display: inline;
}

.card h1 {
    font-size: 10em;
    margin: 0;
    margin-bottom: -15px;
  }
  
.bignumber {
    font-size: 8em;
    margin: 0;
    margin-bottom: -15px;
}

/* Bugs display */
tr.enhancement, tr.enhancement a {
    color: #CCBBB4;
}
tr.critical, tr.critical a {
    color: #FF0000;
}
tr.blocker, tr.blocker a {
    color: #FF0000;
    font-weight: bold;
}
table {
	font-family:arial;
	font-size: 90%;
	background-color: #FFFFFF;
	margin:10px auto 15px auto;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url("img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table tbody tr.core-security {
	background-color: #FBDFB3;
}
table tbody tr.mozilla-corporation-confidential {
	background-color: #E0E0FF;
}
table tbody td {
	padding: 4px;
	vertical-align: top;
}
table thead tr th.id {
	width: 47px;
}
table thead tr th.sev {
	width: 57px;
}
table thead tr th.pri {
	width: 52px;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

