{% macro printEmptyTables() %}
    <script>
        var displaytabs = $("#tabs").find(".bugs_display");
        var table = $('<table/>');
        table.append('<tbody/>');
        displaytabs.append(table);
    </script>
{% endmacro %}

{% macro printListRow(tab, bug) -%}
    <script>
        var row = $('<tr/>', {
            'class': '{{ bug.id }} {{ bug.severity}}',
            html:    '<td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">{{bug.id}} {{bug.summary|truncate(80)}}</a><br/><p class="modified">last modified: {{bug.last_change_time}}</p></td>'
        });
        row.append('<span class="hidden id">{{bug.id}}</span>');
        row.append('<span class="hidden severity">{{bug.severity}}</span>');
        row.append('<span class="hidden priority">{{bug.priority}}</span>');
        row.append('<span class="hidden priority">{{bug.component}}</span>');
        $('div#tab_{{tab}} > table > tbody').append(row);
    </script>
    {% for group in bug.groups %}
        <script>
        $("tr.{{bug.id}}").addClass("{{group.name}}");
        $("tr.{{bug.id}}").append('<span class="hidden security">{{group.name}}</span>');
        </script>
    {% endfor %}
    {% for keyword in bug.keywords %}
        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
    {% endfor %}
{%- endmacro %}

{% macro printBugs(bugs, tab) %}
    {% if bugs %}
        {% for bug in bugs %}
            {{ printListRow(tab, bug) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}
