{% extends "layout.html" %}
{% block body %}
<div id="container">
    <form action="{{url_for('add_action')}}" method="post">
        <h3>Create an action</h3>
                <p><label for="actionname">Name of action (no spaces)</label><br/>
                <input type="text" name="actionname" id="actionname" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="script">Script for your action (optional)</label><br/>
                <input type="textarea" height="500" width="100" name="script" id="script" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="extenstion">Extension (eg: .py)</label><br/>
                <input type="textarea" name="extension" id="extension" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="runtime">Days to run (0-6) eg: 0 for Monday, 3 for Thursday, 0-4 for every weekday, 0,3 for Monday & Thursday</label><br/>
                <input type="textarea" name="runtime" id="runtime" value="" class="text ui-widget-content ui-corner-all" /></p>
            <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
