{% extends "layout.html" %}
{% block body %}
<div id="container">
    <form action="{{url_for('add_query')}}" method="post">
        <h3>Create a query</h3>
                <p><label for="queryname">Name of query (no spaces)</label><br/>
                <input type="text" name="queryname" id="queryname" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="description">Write a small description of your query</label><br/>
                <input type="textarea" name="description" id="description" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="url">Query url</label><br/>
                <input type="textarea" name="url" id="url" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p>Show bug summary
                <select name="show_summary"><option value="yes">Yes</option>
                <option value="no" selected=selected>No</option></select></p>
                <p>Share
                <select name="shared"><option value="yes">Yes</option>
                <option value="no" selected=selected>No</option></select></p>
                <!-- Not ready for this yet
                <p>Actions</p>
                <p class="modified">Select all actions for this query</p>
                <select multiple id="actionselector" name="actions">
                    {% for action in actions %}
                        <option value="{{ action.id }}">{{ action.name }}</option>
                    {% endfor %}
                </select>
                </p>
            -->
            <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
