{% extends "layout.html" %}
{% block body %}
    <div id="tabs">
        <ul id="ul_tabs">
        </ul>
        <div id="tab_main">
        </div>
        <div id="tab_info">
        </div>
        <div id="tab_nominate">
        </div>
        <div id="tab_approve">
        </div>
        <div id="tab_uplift">
        </div>
    </div>
    {% from "_listhelpers.html" import printTab %}
    {% if mainlist %}
        {{ printTab(mainlist, 'main', 'Main') }}
    {% endif %}
    {% set info = getNeedsInfoBugs(emails=email, bmo=session.bmo) %}
    {% if info %}
        {{ printTab(info, 'info', 'Needs info') }}
    {% endif %}
    {% set nominate = getToNominateBugs(session.vt.beta, session.vt.aurora, followlist) %}
    {% if nominate %}
        {{ printTab(nominate, 'nominate', 'To nominate') }}
    {% endif %}
    {% set approve = getToApproveBugs(followlist) %}
    {% if approve %}
        {{ printTab(approve, 'approve', 'To approve') }}
    {% endif %}
    {% set uplift = getToUpliftBugs(session.vt.beta, session.vt.aurora, buglist) %}
    {% if uplift %}
        {{ printTab(uplift, 'uplift', 'To uplift') }}
    {% endif %}
    <script type=text/javascript>
        $(function() { 
            $(".tablesorter").tablesorter();
            $("#tabs").tabs();
            $(".sev.header").click(function() {
                var selectedPanel = $("#tabs div.ui-tabs-panel:not(.ui-tabs-hide)");
                sortBySeverity(selectedPanel);
            });
            activateSort();
        });

        function activateSort() {
            $("option").click(function() {
                var sortClass = $(this).attr('value');
                var selectedPanel = $("#tabs div.ui-tabs-panel:not(.ui-tabs-hide)");
                sortBySecurity(selectedPanel);
            });
        }
    </script>
{% endblock %}
