<!doctype html>
<head>
<title>Release Tracking Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightness/jquery-ui-1.10.0.custom.css') }}"/>
<!-- <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css"/> -->
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui-1.10.0.custom.min.js') }}"></script>
<!-- <script type=text/javascript src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script> -->
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/login.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/sorters.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/views.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/sidebars.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
<!-- <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a> -->
<span class="user">
    <p><a href="{{ url_for('index') }}">Home</a>|
    {% if session.logged_in %}
        logged in as <a href="{{ url_for('profile', email=session.user.email) }}">{{ session.user.email }}</a> | 
        <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
    <a href="{{ url_for('login') }}">Login</a> | 
    <a href="{{ url_for('signup') }}">Sign Up</a></p>
    {% endif %}
    </span>
<div class="header">
    <h1>Release Tracking Dashboard 
    {% if email %} - {{email}} {% endif %}
    {% if product %} - {{product.description}} {% endif %}</h1>
</div>
<div class="colmask threecol">
    <div class="colmid">
        <div class="colleft">
            <div class="col1">
                <p id="error" class="error">{% if error %}Error: {{ error }}{% endif %}</p>
                <p id="message">{% if message %}{{ message }}{% endif %}</p>
                {% block body %}{% endblock %}
            </div>
            <div class="col2">
                {% if view %}
                    {% if view.components %}
                        <h3>Products</h3>
                        {% for component in view.components %}
                            <div id="{{component.description|replace(' ','_')}}" class="filter component"><input type="checkbox" name="components" value="{{component.description|replace(' ','_')|replace(',','')}}"/>{{component.product.description}}::{{component.description}}<span class="filter_length"></span></div>
                        {% endfor %}
                        <script>
                            $("div.filter.component > input:checkbox").each(function() {
                                var val = $(this).val();
                                if (val.indexOf(':') > -1) {
                                    $(this).val(val.substring(0,val.indexOf(':')));
                                }
                            });
                        </script>
                    {% endif %}
                    {% if view.members %}
                        <h3>Contributors</h3>
                        {% for member in view.members %}
                            <div id="{{member.email}}" class="filter member"><input type="checkbox" name="members" value="{{member.email}}"/>{{member.email}}<span class="filter_length"></span></div>
                        {% endfor %}
                        <script>
                            $("div.filter.member > input:checkbox").each(function() {
                                var val = $(this).val();
                                $(this).val(val.substring(0,val.indexOf('@')));
                            });
                        </script>
                    {% endif %}
                {% elif email %}
                    <p>Viewing bugs assigned to:</p>
                    <h3>{{email}}</h3>
                {% elif product %}
                    <h3>{{product.description}}</h3>
                    {% if query_components %}
                        {% for component in query_components %}
                            <div id="{{component.description|replace(' ','_')}}" class="filter component"><input type="checkbox" name="components" value="{{component.description|replace(' ','_')|replace(':','')|replace(',','')}}"/>{{ component.description }}<span class="filter_length"></span></div>
                        {% endfor %}
                    {% else %}
                        <div id="component_container"></div>
                    {% endif %}
                {% endif %}
                <div id="keyword_container"></div>
                <div id="assignee_container"></div>
            </div>
            <div class="col3">
                <div class="schedule">
                    <div class="calendar">
                        <p>We are in week</p>
                        <h1><span id="week"></span></h1>
                        <h3>of FFX{{ session.vt.beta }} Beta</h3>
                    </div>
                    <p>FFX{{ session.vt.beta }} ships in: <span id="daysleft"></span><span id="days"></span></p>
                </div>
                <br/>
                <div id="view"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>
<script>
    $(function() {
        if ($(".bugs_display").length > 0) {
            $("#keyword_container").append("<h3>Keywords</h3>");
            $("#assignee_container").append("<h3>Assignees</h3>");
            print_filter("keyword");
            print_filter("assignee");
            count_filter();
            resetTags();
            activateComponents();
            sortCheckerbox();
            sortNormal('.modified', 'asc');
            
            $("#view").append('Switch view: <a href="#viewbubble" onclick="viewBubble();return false;">Bubble</a> <a href="#viewtable" onclick="viewTable();return false;">Table</a> <a href="#viewcheckerbox" onclick="viewCheckerbox();return false;">Checkerbox</a>');
            var style = '{{style}}';
            if (style == 'count') {
                viewCheckerbox();
            } else if (style == 'table') {
                viewTable();
            } else {
                viewBubble();
            }
        }
        print_countdown('{{ session.vt.cycle }}');
    });
</script>
</body>
