<!doctype html>
<head>
<title>Release Tracking Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightness/jquery-ui-1.10.0.custom.css') }}"/>
<link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css"/>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui-1.10.0.custom.min.js') }}"></script>
<script type=text/javascript src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/login.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/sorters.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/views.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
<a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
<span class="user">
    {% if session.logged_in %}
        <p>logged in as <a href="{{ url_for('profile', email=session.user.email) }}">{{ session.user.email }}</a> | 
        <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
    <div id="form_login" title="Login Form">
        <p class="validateTips">All form fields are required.</p>
        <form id="login" action="{{ url_for('login') }}" method="post">
            <fieldset>
                <p><label for="email">Bugzilla Email</label>
                <input type="text" name="email" id="loginemail" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="password">Password</label><br/>
                <input type="password" name="password" id="loginpassword" value="" class="text ui-widget-content ui-corner-all" /></p>
            </fieldset>
        </form>
    </div>
    <p><button id="btn_login">Login</button> | 
    <a href="{{ url_for('signup') }}">Sign Up</a></p>
    {% endif %}
    </span>
<div class="header">
    <h1>Release Tracking Dashboard 
    {% if email %} - {{email}} {% endif %}
    {% if product %} - {{product.description}} {% endif %}</h1>
</div>
<div class="colmask threecol">
    <div class="colmid">
        <div class="colleft">
            <div class="col1">
                {% if error %}
                    <p class="error">Error: {{ error }}</p>
                {% endif %}
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                {% block body %}{% endblock %}
            </div>
            <div class="col2">
                {% if view %}
                    {% if view.components %}
                        <h3>Products</h3>
                        {% for component in view.components %}
                            <div id="{{component.description|replace(' ','_')}}" class="filter component"><input type="checkbox" name="components" value="{{component.description}}"/>{{component.product.description}}::{{component.description}}<span class="filter_length"></span></div>
                        {% endfor %}
                    {% endif %}
                    {% if view.members %}
                        <h3>Contributors</h3>
                        {% for member in view.members %}
                            <div id="{{member.email}}" class="filter"><input type="checkbox" name="members" value="{{member.email}}"/>{{member.email}}<span class="filter_length"></span></div>
                        {% endfor %}
                    {% endif %}
                {% elif email %}
                    <p>Viewing bugs assigned to:</p>
                    <h3>{{email}}</h3>
                {% elif product %}
                    <h3>{{product.description}}</h3>
                    {% if query_components %}
                        {% for component in query_components %}
                            <div id="{{component.description|replace(' ','_')}}" class="filter component"><input type="checkbox" name="components" value="{{component.description}}"/>{{ component.description }}<span class="filter_length"></span></div>
                        {% endfor %}
                    {% else %}
                        {% for component in product.components %}
                            <div id="{{component.description|replace(' ','_')}}" class="filter component"><input type="checkbox" name="components" value="{{component.description}}"/>{{ component.description }}<span class="filter_length"></span></div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <div id="keywords_container">
                </div>
            </div>
            <div class="col3" style="text-align: center;">
                <div class="schedule">
                    <p>We are in week</p>
                    <h1><span id="week"></span></h1>
                    <p>of FFX Beta</p>
                    <p>FFX ships in: <span id="daysleft"></span> days</p>
                </div>
                <div id="view">
                    Switch view:
                    <a href="#viewbubble" onclick="viewBubble();return false;">Bubble</a>
                    <a href="#viewtable" onclick="viewTable();return false;">Table</a>
                    <a href="#viewcheckerbox" onclick="viewCheckerbox();return false;">Checkerbox</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>
<script>
    $(function() {
        var keywords = [];
        $("span.keyword").each(function(index) {
            var keyword = $(this).text();
            if ($.inArray(keyword,keywords) == -1) {
                if ($("#keywords_container").children().length == 0) {
                    $("#keywords_container").append("<h3>Keywords</h3>");
                }
                keywords.push(keyword);
                $("#keywords_container").append('<div id="' + keyword + '" class="filter keyword"><input type="checkbox" name="keywords" value="' + keyword + '"/><tag id="' + keyword + '">' + keyword + '</tag></div>');
            }
        });
        
        resetTags();
        activateTags();
        activateComponents();
        
        sortNormal('.modified', 'asc');
        
        var cycle = '{{ session.vt.cycle }}';
        
        var date1 = new Date(cycle.substr(0,4),cycle.substr(4,2)-1,cycle.substr(6,2));
        
        var date2 = new Date(cycle.substr(9,4),cycle.substr(13,2)-1,cycle.substr(15,2));
        
        var today = new Date();
        var week = ((today - date1)/((1000*60*60*24)+1)/7)+1;
        var countdown = ((date2 - today)/(1000*60*60*24));
        
        $("#week").text(Math.round(week));
        $("#daysleft").text(Math.round(countdown));
        
        var style = '{{style}}';
        if (style == 'None' || style == 'list') {
            viewBubble();
        } else if (style == 'table') {
            viewTable();
        } else {
            viewCheckerbox();
        }
    });
</script>
</body>

