{% extends "layout.html" %}
{% block body %}
    <h2>Log In</h2>
    <div id="form_login" title="Login Form">
        <p class="validateTips">All form fields are required.</p>
        <form id="login" action="{{ url_for('login') }}" method="post">
            <fieldset>
                <p><label for="email">Bugzilla Email</label>
                <input type="text" name="email" id="loginemail" value="" class="text ui-widget-content ui-corner-all" /></p>
                <p><label for="password">Bugzilla Password</label>
                <input type="password" name="password" id="loginpassword" value="" class="text ui-widget-content ui-corner-all" /></p>
                <input type="submit" value="Login!"/>
            </fieldset>
        </form>
    </div>
{% endblock %}
