{% extends "layout.html" %}
{% block body %}
    <div id="tabs">
        <ul id="ul_tabs">
        </ul>
        <div id="tab_beta">
        </div>
        <div id="tab_aurora">
        </div>
        <div id="tab_nobody">
        </div>
        <div id="tab_info">
        </div>
        <div id="tab_esr">
        </div>
    </div>
    {% from "_listhelpers.html" import printTab %}
    {% set beta = getTrackedBugs(session.vt.beta, buglist) %}
    {% if beta %}
        {{ printTab(beta, 'beta', 'Tracked Beta Bugs') }}
    {% endif %}
    {% set aurora = getTrackedBugs(session.vt.aurora, buglist) %}
    {% if aurora %}
        {{ printTab(aurora, 'aurora', 'Tracked Aurora Bugs') }}
    {% endif %}
    {% set unassigned = getUnassignedBugs(buglist) %}
    {% if unassigned %}
        {{ printTab(unassigned, 'nobody', 'Unassigned Bugs') }}
    {% endif %}
    {% set info = getNeedsInfoBugs(buglist) %}
    {% if info %}
        {{ printTab(info, 'info', 'Bugs that need additional information') }}
    {% endif %}
    {% set esr = getTrackedBugs(session.vt.esr, buglist) %}
    {% if esr %}
        {{ printTab(esr, 'esr', 'Tracked ESR Bugs') }}
    {% endif %}
    <script type=text/javascript>
        $(function() {
            $("#tabs").tabs();
            $(".tablesorter").tablesorter();
        });
    </script>
{% endblock %}
