{% extends "layout.html" %}
{% block body %}
    <div id="tabs">
        <ul id="ul_tabs">
        </ul>
        <div id="tab_beta">
        </div>
        <div id="tab_aurora">
        </div>
        <div id="tab_unassigned">
        </div>
        <div id="tab_info">
        </div>
        <div id="tab_esr">
        </div>
    </div>
    {% set components = getComponents(buglist) %}
    {% from "_listhelpers.html" import printComponentTab %}
    {% set beta = getTrackedBugs(session.vt.beta, buglist) %}
    {% if beta %}
        {{ printComponentTab(components, beta, 'beta', 'Tracked Beta Bugs') }}
    {% endif %}
    {% set aurora = getTrackedBugs(session.vt.aurora, buglist) %}
    {% if aurora %}
        {{ printComponentTab(components, aurora, 'aurora', 'Tracked Aurora Bugs') }}
    {% endif %}
    {% set unassigned = getUnassignedBugs(buglist) %}
    {% if unassigned %}
        {{ printComponentTab(components, unassigned, 'unassigned', 'Unassigned Bugs') }}
    {% endif %}
    {% set info = getNeedsInfoBugs(buglist) %}
    {% if info %}
        {{ printComponentTab(components, info, 'info', 'Bugs that need additional information') }}
    {% endif %}
    {% set esr = getTrackedBugs(session.vt.esr, buglist) %}
    {% if esr %}
        {{ printComponentTab(components, esr, 'esr', 'Tracked ESR Bugs') }}
    {% endif %}
    <script type=text/javascript>
        $(function() {
            $("#tabs").tabs();
            recalculateLength();
            /*$(".components").each(function(index, compdiv) {
                if ($(compdiv).find('tbody').children().length ==  0) {
                    $(compdiv).remove();
                } else {
                    var count = $(compdiv).find('h4').text() + ' (' + $(compdiv).find('tbody').children().length + ')';
                    $(compdiv).find('h4').text(count);
                }
            });*/
        });
    </script>
{% endblock %}
