{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
    $(function() {
        $("#tabs").tabs();
        $(".components").each(function(index, compdiv) {
            if ($(compdiv).find('tbody').children().length ==  0) {
                $(compdiv).remove();
            } else {
                var count = $(compdiv).find('h4').text() + ' (' + $(compdiv).find('tbody').children().length + ')';
                $(compdiv).find('h4').text(count);
            }
        });
    });
    function sortTables(tab) {
        var selected = $("#"+tab+"_sort option:selected").text();
        if (selected == 'Severity') {
            sortSeverity(tab);
        } else if (selected == 'Security') {
            sortSecurity(tab);
        } else if (selected == 'Priority') {
            sortNormal(tab, '.priority', 'desc');
        } else if (selected == 'ID ascending') {
            sortNormal(tab, '.id', 'asc');
        } else if (selected == 'ID descending') {
            sortNormal(tab, '.id', 'desc');
        }
    }
</script>
{% macro printRow(tab, bug) -%}
    <script>
        var row = $('<tr/>', {
            'class': '{{ bug.id }} {{ bug.severity}}',
            html:    '<td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">{{bug.id}} {{bug.summary|truncate(80)}}</a><br/><p class="modified">last modified: {{bug.last_change_time}}</p></td>'
        });
        row.append('<span class="hidden id">{{bug.id}}</span>');
        row.append('<span class="hidden severity">{{bug.severity}}</span>');
        row.append('<span class="hidden priority">{{bug.priority}}</span>');
        $('div#{{tab}}_{{bug.component|replace(" ","_")}} > table > tbody').append(row);
    </script>
    {% for group in bug.groups %}
        <script>
        $("tr.{{bug.id}}").addClass("{{group.name}}");
        $("tr.{{bug.id}}").append('<span class="hidden security">{{group.name}}</span>');
        </script>
    {% endfor %}
    {% for keyword in bug.keywords %}
        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
    {% endfor %}
{%- endmacro %}

{% macro printTab(bugs, tab, header) %}
    {% if bugs %}
        <h3>{{ header }} ({{ bugs|length }})</h3>
        Sort by:
        <select id="{{tab}}_sort" onchange="sortTables('{{tab}}');">
            <option>Severity</option>
            <option>Security</option>
            <option>Priority</option>
            <option>ID ascending</option>
            <option>ID descending</option>
        </select>
        {% if components %}
            {% for comp in components %}
            <div id="{{tab}}_{{comp|replace(" ","_")}}" class="components">
                <h4>{{comp}}</h4>
                <table class="{{tab}}">
                <tbody>
                </tbody>
                </table>
            </div>
            {% endfor %}
        {% endif %}
        {% for bug in bugs %}
            {{ printRow(tab, bug) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}
    <div id="tabs">
        <ul id="ul_tabs">
            {% if beta %}<li><a href="#tab_beta" onclick="resetTags();">Beta ({{beta|length}})</a></li>{% endif %}
            {% if aurora %}<li><a href="#tab_aurora" onclick="resetTags();">Aurora ({{aurora|length}})</a></li>{% endif %}
            {% if unassigned %}<li><a href="#tab_nobody" onclick="resetTags();">Unassigned ({{unassigned|length}})</a></li>{% endif %}
            {% if info %}<li><a href="#tab_info" onclick="resetTags();">Needs info ({{info|length}})</a></li>{% endif %}
            {% if esr %}<li><a href="#tab_esr" onclick="resetTags();">ESR ({{esr|length}})</a></li>{% endif %}
        </ul>
        <div id="tab_beta">
            {{ printTab(beta, 'beta', 'Tracked Beta Bugs') }}
        </div>
        <div id="tab_aurora">
            {{ printTab(aurora, 'aurora', 'Tracked Aurora Bugs') }}
        </div>
        <div id="tab_nobody">
            {{ printTab(unassigned, 'nobody', 'Unassigned Bugs') }}
        </div>
        <div id="tab_info">
            {{ printTab(info, 'info', 'Bugs that need additional information') }}
        </div>
        <div id="tab_esr">
            {{ printTab(esr, 'esr', 'Tracked ESR Bugs') }}
        </div>
    </div>
{% endblock %}
