{% extends "layout.html" %}
{% block body %}
    {% macro printview(view) %}
        <li id="header_{{view.id}}" class="ui-corner-all"><a href="{{url_for('view_custom', view_id=view.id)}}">{{view.name}}{%if view.default%}(Default){%endif%} <small>(click to edit)</small></a></li>
        <div id="view_{{view.id}}" style="display: none">
            <a href="{{url_for('view_custom', view_id=view.id)}}">visit</a>
            <form action="{{ url_for('edit_views', view_id=view.id) }}" method="post">
               <table>
               <tr>
               <td>Name</td>
                <td><input type="text" name="viewname" id="viewname" value="{{view.name}}"/></td>
                </tr>
                <tr>
                <td>Description</td>
                <td><textarea name="description" id="description">{{view.description}}</textarea></td>
                </tr>
                <tr><td>Default</td>
                <td>
                {% if view.default == True %}
                    <input type="hidden" name="default" value="yes">Yes
                {% else %}
                <select name="default"><option value="yes">Yes</option>
                <option value="no"  selected="selected">No</option></select>
                {%endif%}
                </td></tr>
                <tr>
                <td>Emails</td>
                <td>
                    {% for member in view.members %}
                        <p><input type="checkbox" name="membersToRemove" value="{{member.email}}">{{ member.email }}</p>
                    {% endfor %}
                    <div class="addemail"><p>Add another email</p></div>
                    </td>
                    <tr>
                <td>Components</td>
                <td>
            {% for component in view.components %}
                <p><input type="checkbox" name="compsToRemove" value="{{component.id}}">
                {{ component.product.description }}::{{ component.description }}</p>
            {% endfor %}
                    <div id="addcomp"><p>Click to add component</p></div>
                    <select multiple size="15" id="productselector" name="components">
                {% for product in products %}
                     <optgroup label="{{ product.description }}">
                     {% for component in product.components %}
                        <option value="{{ component.id }}">{{ component.description }}</option>
                     {% endfor %}
                     </optgroup>
                {% endfor %}
                
            </select>
            </td>
                </tr>
                </table>
                <input type="submit" name="submit" value="Save changes"> 
                {% if not view.default %}
                or 
                <input type="submit" name="submit" value="Delete view">
                {% endif %}
            </form>
        </div>
        <script>
            $('#header_{{view.id}}').click(function() {
                $("#view_{{view.id}}").toggle();
                return false;
            });
        </script>
    {% endmacro %}
    {% macro printquery(query) %}
        <li id="query_header_{{query.id}}" class="ui-corner-all"><a href="{{ query.url }}">{{query.name}} <small>(click to edit)</small></a></li>
        <div id="query_{{query.id}}" style="display: none">
            <a href="{{ query.to_string() }}">run query</a>
            <form action="{{ url_for('edit_query', query_id=query.id) }}" method="post">
               <table>
               <tr>
               <td>Name</td>
                <td><input type="text" name="queryname" id="queryname" value="{{query.name}}"/></td>
                </tr>
                <tr>
                <td>Description</td>
                <td><textarea name="description" id="description">{{query.description}}</textarea></td>
                </tr>
                <tr>
                <td>URL</td>
                <td><textarea name="url" id="url">{{query.url}}</textarea></td>
                </tr>
                <tr><td>Show Summary</td>
                <td>
                {% if query.show_summary == True %}
                    <input type="hidden" name="show_summary" value="yes">Yes
                {% else %}
                <select name="show_summary"><option value="yes">Yes</option>
                <option value="no" selected="selected">No</option></select>
                {%endif%}
                </td></tr>
                <tr>
                <td>Actions</td>
                <td>
                {% if actions %}
                    {% for action in actions %}
                        <select name="actions">
                            <option value="{{ action.id }}" {% if action in query.actions %}selected=selected{% endif %}>{{ action.name }}</option>
                    {% endfor %}</td>
                {% else %}<td>No actions created yet</td>
                {% endif %}
                </tr>
                </table>
                <input type="submit" name="submit" value="Save changes"> 
                or 
                <input type="submit" name="submit" value="Delete query">
            </form>
        </div>
        <script>
            $('#query_header_{{query.id}}').click(function() {
                $("#query_{{query.id}}").toggle();
                return false;
            });
        </script>
    {% endmacro %}
    {% macro printaction(action) %}
        <li id="action_header_{{action.id}}" class="ui-corner-all"><a href="{{ action.name }}">{{action.name}} <small>(click to edit)</small></a></li>
        <div id="action_{{action.id}}" style="display: none">
            <form action="{{ url_for('edit_action', action_id=action.id) }}" method="post">
               <table>
               <tr>
               <td>Name</td>
                <td><input type="text" name="actionname" id="actionname" value="{{action.name}}"/></td>
                </tr>
                <tr>
                <td>Script</td>
                <td><textarea name="script" id="script" height="500px" width="90px">{{action.script}}</textarea></td>
                </tr>
                <tr>
                <td>Extension</td>
                <td><input type="text" name="extension" id="extension" value="{{action.extension}}"/></td>
                </tr>
                <tr>
                <td>Runtime</td>
                <td><textarea name="runtime" id="runtime">{{action.runtime}}</textarea></td>
                </tr>
                </table>
                <input type="submit" name="submit" value="Save changes"> 
                or 
                <input type="submit" name="submit" value="Delete action">
            </form>
        </div>
        <script>
            $('#action_header_{{action.id}}').click(function() {
                $("#action_{{action.id}}").toggle();
                return false;
            });
        </script>
    {% endmacro %} 
    <div id="tabs">
        <ul id="ul_tabs">
            <li><a href="#tab_general">General</a></li>
            <li><a href="#tab_views">Views</a></li>
            <li><a href="#tab_queries">Queries</a></li>
            <li><a href="#tab_actions">Actions</a></li>
        </ul>
        <div id="tab_general">
            <h3>General Account Settings</h3>
            <div id="account_info">
                <p>This account belongs to a user with the Bugzilla email: {{session.user.email}}</p>
                <p><a href="#" onclick="toggleform();return false;">Edit account</a></p>
                <p><a href="{{url_for('delete_account')}}">Delete this account</a></p>
            </div>
            <form id="account_form" action="{{url_for('edit_account')}}" method="post" style="display:none">
            <table id="general">
                <tr>
                    <td>Bugzilla Email</td>
                    <td><input type="text" name="email" value="{{ session.user.email }}"></td>
                </tr>
                <tr>
                    <td>Bugzilla Password</td>
                    <td><p>New:<input type="password" name="newpassword" value=""></p><p>Re-type new:<input type="password" name="confirmpassword" value=""></p></td>
                </tr>
            </table>
            <p>Please confirm by entering your current password: 
            <input type="password" name="password" value=""></p>
            <input type="submit" name="submit" value="Save changes"> 
            <a href="#" onclick="toggleform();return false;">Cancel</a>
            </form>
        </div>
        <div id="tab_views">
            <div class="box effect1 ui-corner-all">
                <h3>Saved Views</h3>
            </div>
            <div class="no-bullets">
                <ul>
                    {% if defaultview %}{{ printview(defaultview) }}{% endif %}
                    {% if otherviews %}
                    {% for view in otherviews %}
                        {{ printview(view) }}
                    {% endfor %}
                    {% endif %}
                </ul>
                <form action="{{ url_for('add_view') }}" method="get">
                    <input type="submit" value="New Query" name="Add a query">
                </form>
            </div>
        </div>
        <div id="tab_queries">
            <p>
            When adding queries you can use wiki.m.o TEMPLATE syntax, eg: 
            <code> {{ '{{' }}BETA_VERSION{{ '}}' }} </code><br />
            <br />Available syntax options and their current values are:
            <code>
                <ul>
                    <li>{{ '{{' }}CURRENT_VERSION{{ '}}' }} = {{ session.vt.current_release }}</li>
                    <li>{{ '{{' }}BETA_VERSION{{ '}}' }} = {{ session.vt.beta }}</li>
                    <li>{{ '{{' }}AURORA_VERSION{{ '}}' }} = {{ session.vt.aurora }}</li>
                    <li>{{ '{{' }}CENTRAL_VERSION{{ '}}' }} = {{ session.vt.central }}</li>
                    <li>{{ '{{' }}ESR_VERSION{{ '}}' }} = {{ session.vt.esr }}</li>
                    <li>{{ '{{' }}NEXT_VERSION{{ '}}' }} = {{ session.vt.next }}</li>
                    <li>{{ '{{' }}FIREFOX_SHIP_DATE{{ '}}' }} = {{ session.vt.shipdate }}</li>
                    <li>{{ '{{' }}CURRENT_CYCLE{{ '}}' }} = {{ session.vt.cycle }}</li>
                </ul>
            </code>
            </p>
            <div class="box effect1 ui-corner-all">
                <h3>Saved Queries</h3>
            </div>
            <div class="no-bullets">
                <ul>
                {% if queries %}
                {% for query in queries %}
                    {{ printquery(query) }}
                {% endfor %}
                {% endif %}
                </ul>
            </div>
            <h4><a href="{{ url_for('view_queries_by_user', user_id=session.user.id) }}">Run All Saved Queries</a></h4>
            <form action="{{ url_for('add_query') }}" method="get">
                <input type="submit" value="New Query" name="Add a query">
            </form>
        </div>
        <div id="tab_actions">
            <p>
            Put the body of the script in the script box, then the extension (.py)
            </p>
            <div class="box effect1 ui-corner-all">
                <h3>Saved Actions</h3>
            </div>
            <div class="no-bullets">
                <ul>
                {% if actions %}
                {% for action in actions %}
                    {{ printaction(action) }}
                {% endfor %}
                {% endif %}
                </ul>
            </div>
            <form action="{{ url_for('add_action') }}" method="get">
                <input type="submit" value="New Action" name="Add an action">
            </form>
        </div>
    </div>
    
    <script type=text/javascript>
        $(function() {
            $("#tabs").tabs();
        });
        $(".addemail").click(function() {
            $(this).before('<p><input type="text" name="emails" value=""/></p>');
        });
        function toggleform() {
            $("#account_info").toggle();
            $("#account_form").toggle();
        }
    </script>
{% endblock %}
