{% extends "layout.html" %}
{% block body %}
    {% macro printview(view) %}
        <h3 id="header_{{view.id}}" class="ui-widget-header ui-corner-all"><a href="{{url_for('view_custom', view_id=view.id)}}">{{view.name}} {%if view.default%}(Default){%endif%}</a></h3>
        <div id="view_{{view.id}}" style="display: none">
            <a href="{{url_for('view_custom', view_id=view.id)}}">visit</a>
            <form action="{{ url_for('edit_views', view_id=view.id) }}" method="post">
               <table>
               <tr>
               <td>Name</td>
                <td><input type="text" name="viewname" id="viewname" value="{{view.name}}"/></td>
                </tr>
                <tr>
                <td>Description</td>
                <td><textarea name="description" id="description">{{view.description}}</textarea></td>
                </tr>
                <tr><td>Default</td>
                <td>
                {% if view.default == True %}
                    <input type="hidden" name="default" value="yes">Yes
                {% else %}
                <select name="default"><option value="yes">Yes</option>
                <option value="no"  selected="selected">No</option></select>
                {%endif%}
                </td></tr>
                <tr>
                <td>Emails</td>
                <td>
                    {% for member in view.members %}
                        <p><input type="checkbox" name="membersToRemove" value="{{member.email}}">{{ member.email }}</p>
                    {% endfor %}
                    <div class="addemail"><p>Add another email</p></div>
                    </td>
                    <tr>
                <td>Components</td>
                <td>
            {% for component in view.components %}
                <p><input type="checkbox" name="compsToRemove" value="{{component.id}}">
                {{ component.product.description }}::{{ component.description }}</p>
            {% endfor %}
                    <div id="addcomp"><p>Click to add component</p></div>
                    <select multiple size="15" id="productselector" name="components">
                {% for product in products %}
                     <optgroup label="{{ product.description }}">
                     {% for component in product.components %}
                        <option value="{{ component.id }}">{{ component.description }}</option>
                     {% endfor %}
                     </optgroup>
                {% endfor %}
                
            </select>
            </td>
                </tr>
                </table>
                <input type="submit" name="submit" value="Save changes"> 
                {% if not view.default %}
                or 
                <input type="submit" name="submit" value="Delete view">
                {% endif %}
            </form>
        </div>
        <script>
            $('#header_{{view.id}}').click(function() {
                $("#view_{{view.id}}").toggle();
                return false;
            });
        </script>
    {% endmacro %}
    {% macro printquery(query) %}
        <h3 id="query_header_{{query.id}}" class="ui-widget-header ui-corner-all"><a href="{{ query.url }}">{{query.name}} (click to edit)</a></h3>
        <div id="query_{{query.id}}" style="display: none">
            <a href="{{ query.url }}">run query</a>
            <form action="{{ url_for('edit_query', query_id=query.id) }}" method="post">
               <table>
               <tr>
               <td>Name</td>
                <td><input type="text" name="queryname" id="queryname" value="{{query.name}}"/></td>
                </tr>
                <tr>
                <td>Description</td>
                <td><textarea name="description" id="description">{{query.description}}</textarea></td>
                </tr>
                <tr>
                <td>URL</td>
                <td><textarea name="url" id="url">{{query.url}}</textarea></td>
                </tr>
                <td>Runtime</td>
                <td><textarea name="runtime" id="runtime">{{query.runtime}}</textarea></td>
                </tr>
                <tr><td>Show Summary</td>
                <td>
                {% if query.show_summary == True %}
                    <input type="hidden" name="show_summary" value="yes">Yes
                {% else %}
                <select name="show_summary"><option value="yes">Yes</option>
                <option value="no" selected="selected">No</option></select>
                {%endif%}
                </td></tr>
                </table>
                <input type="submit" name="submit" value="Save changes"> 
                or 
                <input type="submit" name="submit" value="Delete query">
            </form>
        </div>
        <script>
            $('#query_header_{{query.id}}').click(function() {
                $("#query_{{query.id}}").toggle();
                return false;
            });
        </script>
    {% endmacro %}   
    <div id="tabs">
        <ul id="ul_tabs">
            <li><a href="#tab_general">General</a></li>
            <li><a href="#tab_views">Views</a></li>
            <li><a href="#tab_queries">Queries</a></li>
        </ul>
        <div id="tab_general">
            <h3>General Account Settings</h3>
            <div id="account_info">
                <p>This account belongs to a user with the Bugzilla email: {{session.user.email}}</p>
                <p><a href="#" onclick="toggleform();return false;">Edit account</a></p>
                <p><a href="{{url_for('delete_account')}}">Delete this account</a></p>
            </div>
            <form id="account_form" action="{{url_for('edit_account')}}" method="post" style="display:none">
            <table id="general">
                <tr>
                    <td>Bugzilla Email</td>
                    <td><input type="text" name="email" value="{{ session.user.email }}"></td>
                </tr>
                <tr>
                    <td>Bugzilla Password</td>
                    <td><p>New:<input type="password" name="newpassword" value=""></p><p>Re-type new:<input type="password" name="confirmpassword" value=""></p></td>
                </tr>
            </table>
            <p>Please confirm by entering your current password: 
            <input type="password" name="password" value=""></p>
            <input type="submit" name="submit" value="Save changes"> 
            <a href="#" onclick="toggleform();return false;">Cancel</a>
            </form>
        </div>
        <div id="tab_views">
            <h3>Views Settings</h3>
            {% if defaultview %}{{ printview(defaultview) }}{% endif %}
            {% if otherviews %}
            {% for view in otherviews %}
                {{ printview(view) }}
            {% endfor %}
            {% endif %}
            <h3><a href="{{url_for('add_view')}}">Add a view</a></h3>
        </div>
        <div id="tab_queries">
            <h3>Current Queries</h3>
            {% if queries %}
            {% for query in queries %}
                {{ printquery(query) }}
            {% endfor %}
            {% endif %}
            <h3><a href="{{url_for('add_query')}}">Add a query</a></h3>
        </div>
    </div>
    
    <script type=text/javascript>
        $(function() {
            $("#tabs").tabs();
        });
        $(".addemail").click(function() {
            $(this).before('<p><input type="text" name="emails" value=""/></p>');
        });
        function toggleform() {
            $("#account_info").toggle();
            $("#account_form").toggle();
        }
    </script>
{% endblock %}
