{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
    $(function() {
        print_table('info', 'Needs info');
        print_table('nominate', 'Awaiting nomination');
        print_table('approve', 'Awaiting approval');
        print_table('uplift', 'Approved for uplifting');
    });
</script>
<script type=text/javascript>
    function print_table(type, header) {
        $.getJSON($SCRIPT_ROOT + '/' + type, function(data) {
            if (data.result.length > 0) {
                $("#ul_tabs").append('<li><a href="#tab_'+type+'">'+header+'</a></li>');
                var table = ['<thead><tr><th class="id">ID</th><th class="sev">Severity</th><th class="pri">Priority</th><th>Summary</th></tr></thead>'];
                $.each(data.result, function(index, bug) {
                    var pushed = false;
                    $.each(bug.groups, function(index, group) {
                        alert(group.name);
                        if (!pushed && group.name == 'core-security') {
                            table.push('<tr class="security"><td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=' + bug.id + '">' + bug.id + '</a></td><td>' + bug.severity + '</td><td>' + bug.priority + '</td><td>' + bug.summary + '</td></tr>');
                            pushed = true;
                        } else if (!pushed && group.name == 'mozilla-corporation-confidential') {
                            table.push('<tr class="confidential"><td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=' + bug.id + '">' + bug.id + '</a></td><td>' + bug.severity + '</td><td>' + bug.priority + '</td><td>' + bug.summary + '</td></tr>');
                            pushed = true;
                        }
                    });
                    if (!pushed) {
                        alert('pushing');
                        table.push('<tr><td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=' + bug.id + '">' + bug.id + '</a></td><td>' + bug.severity + '</td><td>' + bug.priority + '</td><td>' + bug.summary + '</td></tr>');
                    }
                });
                $('<table/>', {
                    'id': 'table_'+type,
                    'class': 'tablesorter',
                    html: table.join('')
                }).appendTo('#tab_'+type);
                $("#table_"+type).tablesorter();
            } 
            $("#tabs").tabs();
        });
    }
</script>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% else %}
    <h2>{{ email }}</h2>
    <div id="tabs">
        <ul id="ul_tabs">
            <li><a href="#tab_main">Needs fixing</a></li>
        </ul>
        <div id="tab_main">
        </div>
        <div id="tab_info">
        </div>
        <div id="tab_nominate">
        </div>
        <div id="tab_approve">
        </div>
        <div id="tab_uplift">
        </div>
    </div>
    {% endif %}
    {% if keywords %}
    <form>
        {% for keyword in keywords%}
            <input type="checkbox" name="{{ keyword }}" value="{{ keyword }}">{{ keyword }}
        {% endfor %}
    </form>
    {% endif %}
{% endblock %}
