<!doctype html>
<head>
<title>Release Tracking Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightness/jquery-ui-1.10.0.custom.css') }}"/>
<link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css"/>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui-1.10.0.custom.js') }}"></script>
<script type=text/javascript src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/login.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/sorters.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
    $(function() {
        colorizeTags();
        activateTags();
    });
    
    function colorizeTags() {
        var colors = ['#FFBBBB', '#A3FEBA', '#AAAAFF', '#FFD0BCFE', '#A4F0B7', '#FFACEC', '#BAFEA3', '#EAA6EA', '#BBEBFF', '#B4D1B6', '#BCB4F3', '#8CD1E6', 'FFFF99'];
        $("tag").each(function(index, tag) {
            var color = colors[index];
            $(tag).css('background-color', color);
        });
    }
    
    function activateTags() {
        $("tag").click(function() {
            var className = $(this).attr('id');
            var originalColor = $(this).css('background-color');
            $("tr."+className).css("background-color", originalColor);
            if ($("tr."+className).length == 0) {
                $( "#dialog" ).dialog();
            } 
        });
    }
</script>
</head>
<body>
<a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
<div class="header">
    <h1>Release Tracking Dashboard</h1>
    {% if session.logged_in %}
        <p>logged in as {{ session.username }}</p>
    {% else %}
    <div id="form_login" title="Login Form">
        <p class="validateTips">All form fields are required.</p>
        <form id="login" action="{{ url_for('login') }}" method="post">
            <fieldset>
                <label for="email">Bugzilla Email</label>
                <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <button id="btn_login">Login</button>
    {% endif %}
</div>
<div class="colmask threecol">
    <div class="colmid">
        <div class="colleft">
            <div class="col1">
                {% block body %}{% endblock %}
            </div>
            <div class="col2">
                {% if email %}
                    <p>viewing bugs assigned to:</p>
                    <h3>{{email}}</h3>
                {% endif %}
            </div>
            <div class="col3">
                {% if keywords %}
                <h3>Keywords</h3>
                    {% for keyword in keywords%}
                        <p><tag id="{{keyword}}">{{ keyword }}</tag></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>
</body>

