{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
    $(function() {
    });
</script>

<table>
    <tr>
        <td></td>
        <td>Total Bugs</td>
    </tr>
    <tr>
        <td>Beta</td>
        <td>{% if beta %} {{beta|length}} {% else %} 0 {% endif %}</td>
    </tr>
    <tr>
        <td>Aurora</td>
        <td>{% if aurora %} {{aurora|length}} {% else %} 0 {% endif %}</td>
    </tr>
    <tr>
        <td>Unassigned</td>
        <td>{% if nobody %} {{nobody|length}} {% else %} 0 {% endif %}</td>
    </tr>
    <tr>
        <td>Needs Info</td>
        <td>{% if info %} {{info|length}} {% else %} 0 {% endif %}</td>
    </tr>
    <tr>
        <td>ESR</td>
        <td>{% if esr %} {{esr|length}} {% else %} 0 {% endif %}</td>
    </tr>
</table>
    
{% endblock %}
