{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
$(function() {
    $(".tablesorter").tablesorter();
    $("#tabs").tabs();
    /*$(".components").each(function(index, compdiv) {
        alert($(compdiv).attr('id'));
        if ($(compdiv).find('tbody').children().length ==  0) {
            $(compdiv).remove();
        }
    }*/
    //$("#menu_sort").menu();
    /*$(".sev.header").click(function() {
        var selectedPanel = $("#tabs div.ui-tabs-panel:not(.ui-tabs-hide)");
        sortBySeverity(selectedPanel);
    });
    activateSort();*/
});

function sortTables() {
    var selected = $("#sort option:selected").text();
    if (selected == 'Severity') {
        sortSeverity('beta');
    } else if (selected == 'Security') {
        sortSecurity('beta');
    } else if (selected == 'Priority') {
        sortNormal('beta', '.priority', 'desc');
    } else if (selected == 'ID ascending') {
        sortNormal('beta', '.id', 'asc');
    } else if (selected == 'ID descending') {
        sortNormal('beta', '.id', 'desc');
    }
}
</script>
    <div id="tabs">
        <ul id="ul_tabs">
            {% if beta %}<li><a href="#tab_beta" onclick="resetTags();">Beta {{beta|length}}</a></li>{% endif %}
            {% if aurora %}<li><a href="#tab_aurora" onclick="resetTags();">Aurora {{aurora|length}}</a></li>{% endif %}
            {% if unassigned %}<li><a href="#tab_nobody" onclick="resetTags();">Unassigned {{unassigned|length}}</a></li>{% endif %}
            {% if info %}<li><a href="#tab_info" onclick="resetTags();">Needs info {{info|length}}</a></li>{% endif %}
            {% if esr %}<li><a href="#tab_esr" onclick="resetTags();">ESR {{esr|length}}</a></li>{% endif %}
        </ul>
        <div id="tab_beta">
            {% if beta %}
                <h3>Tracked Beta Bugs ({{ beta|length }})</h3>
                Sort by:
                <select id="sort" onchange="sortTables();">
                    <option>Severity</option>
                    <option>Security</option>
                    <option>Priority</option>
                    <option>ID ascending</option>
                    <option>ID descending</option>
                </select>
                {% if components %}
                    {% for comp in components %}
                    <div id="beta_{{comp|replace(" ","_")}}" class="components">
                        <h4>{{comp}}</h4>
                        <table class="beta">
                        <tbody>
                        </tbody>
                        </table>
                    </div>
                    {% endfor %}
                {% endif %}
                {% for bug in beta %}
                    <script>
                        var row = $('<tr/>', {
                            'class': '{{ bug.id }} {{ bug.severity}}',
                            html:    '<td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">{{bug.id}} {{bug.summary|truncate(80)}}</a><br/><p class="modified">last modified: {{bug.last_change_time}}</p></td>'
                        });
                        row.append('<span class="hidden id">{{bug.id}}</span>');
                        row.append('<span class="hidden severity">{{bug.severity}}</span>');
                        row.append('<span class="hidden priority">{{bug.priority}}</span>');
                        $('div#beta_{{bug.component|replace(" ","_")}} > table > tbody').append(row);
                    </script>
                    {% for group in bug.groups %}
                        <script>
                        $("tr.{{bug.id}}").addClass("{{group.name}}");
                        $("tr.{{bug.id}}").append('<span class="hidden security">{{group.name}}</span>');
                        </script>
                    {% endfor %}
                    {% for keyword in bug.keywords %}
                        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="tab_aurora">
            {% if aurora %}
                <h3>Tracked Aurora Bugs ({{ aurora|length }})</h3>
                <table id="table_aurora" class="tablesorter">
                <thead>
                    <tr>
                        <th class="id">ID</th>
                        <th class="sev">Severity</th>
                        <th class="pri">Priority</th>
                        <th>Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for bug in aurora %}
                    <tr class="{{ bug.id }} {{bug.severity}}">
                    {% for keyword in bug.keywords %}
                        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
                    {% endfor %}
                    {% for group in bug.groups %}
                        <script>$(".{{bug.id}}").addClass("{{group.name}}");</script>
                    {% endfor %}
                        <td>
                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">
                                {{bug.id}}</a>
                        </td>
                        <td>{{bug.severity}}</td>
                        <td>{{bug.priority}}</td>
                        <td>{{bug.summary}}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div id="tab_nobody">
            {% if unassigned %}
                <h3>Unassigned Bugs ({{ unassigned|length }})</h3>
                <table id="table_nobody" class="tablesorter">
                <thead>
                    <tr>
                        <th class="id">ID</th>
                        <th class="sev">Severity</th>
                        <th class="pri">Priority</th>
                        <th>Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for bug in unassigned %}
                    <tr class="{{ bug.id }} {{bug.severity}}">
                    {% for keyword in bug.keywords %}
                        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
                    {% endfor %}
                    {% for group in bug.groups %}
                        <script>$(".{{bug.id}}").addClass("{{group.name}}");</script>
                    {% endfor %}
                        <td>
                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">
                                {{bug.id}}</a>
                        </td>
                        <td>{{bug.severity}}</td>
                        <td>{{bug.priority}}</td>
                        <td>{{bug.summary}}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div id="tab_info">
            {% if info %}
                <h3>Bugs that need additional information ({{ info|length }})</h3>
                <table id="table_info" class="tablesorter">
                <thead>
                    <tr>
                        <th class="id">ID</th>
                        <th class="sev">Severity</th>
                        <th class="pri">Priority</th>
                        <th>Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for bug in info %}
                    <tr class="{{ bug.id }} {{bug.severity}}">
                    {% for keyword in bug.keywords %}
                        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
                    {% endfor %}
                    {% for group in bug.groups %}
                        <script>$(".{{bug.id}}").addClass("{{group.name}}");</script>
                    {% endfor %}
                        <td>
                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">
                                {{bug.id}}</a>
                        </td>
                        <td>{{bug.severity}}</td>
                        <td>{{bug.priority}}</td>
                        <td>{{bug.summary}}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div id="tab_esr">
            {% if esr %}
                <h3>Tracked ESR bugs ({{ esr|length }})</h3>
                <table id="table_esr" class="tablesorter">
                <thead>
                    <tr>
                        <th class="id">ID</th>
                        <th class="sev">Severity</th>
                        <th class="pri">Priority</th>
                        <th>Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for bug in esr %}
                    <tr class="{{ bug.id }} {{bug.severity}}">
                    {% for keyword in bug.keywords %}
                        <script>$(".{{bug.id}}").addClass("{{keyword}}");</script>
                    {% endfor %}
                    {% for group in bug.groups %}
                        <script>$(".{{bug.id}}").addClass("{{group.name}}");</script>
                    {% endfor %}
                        <td>
                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">
                                {{bug.id}}</a>
                        </td>
                        <td>{{bug.severity}}</td>
                        <td>{{bug.priority}}</td>
                        <td>{{bug.summary}}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
